<div class="row" style="padding: 20px 20px 20px 20px;">
    <div class="col-sm-3" *ngFor="let item of summaryList; let i = index">
        <div class="card shadow" [ngClass]="backgroundColors[i % backgroundColors.length]">
            <div class="card-body d-flex justify-content-evenly">
                <fa-icon [icon]="iconNames[i % iconNames.length]"
                    class="fa-3x mr-2 d-flex align-items-center"></fa-icon>
                <div class="d-flex flex-column justify-content-center">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6 class="card-text" style="display: flex; flex-direction: row; justify-content: center;">{{
                        item.value }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>